 	<table>
 	<% @chats.each do |chat| %>
 	<thead>
 		<tr>
 			<th><%= chat.name %> </th>
 			<th><%= chat.job %></th>
 			<th><p>画像</p></th>
 			<th><%= chat.content %></th>
 		</tr>
 	</thead>
 	<% end %>
 </table>
 	<%= form_tag(room_chats_path(@room.id), :remote => true, :id =>"chats_form" ) do %>
 	<input type="text" name="content">
 	<%= submit_tag "発言", :id =>"sub_btn" %>
 	<% end %>