<p>ここが<%= @room.room_name %>です </p>
<%= %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
   <%= flash[:alert] %>
  </div>
<% end %>
 
 

 <p><%= current_user.name %><%= current_user.job %> 画像</p>
 	
    <!-- <input type="submit" value="発言"> -->
　<%= render 'chats/chat', chat: @chats %>
<%#= link_to "役をつける",room_rolecards_path(@room.id), method: :post %>
<%= link_to "ゲームに参加する",room_jobs_path(@room.id), method: :post %>
<%= link_to "退出する",room_join_path(@join.room_id,@room.id), method: :delete %>
<%= link_to "観戦する",room_job_path(@room.id), method: :delete %>
