<!DOCTYPE html>
<html>
  <head>
    <title>ProtoJinrou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# if request.path_info == "room_path(params[:room_id])" %>    
    <%#=raw "<meta http-equiv='refresh' content='1'>" %>  
    <%# end %>

  </head>

  <body>
  	<% if user_signed_in? %>
  	<p class="add"><%= current_user.name %></p>
  	<%= link_to "ログアウト",destroy_user_session_path,method: :delete %>
    <% else %>
  	<%= link_to "ログイン", new_user_session_path %>
  	<%= link_to "新規登録", new_user_registration_path %>
  	<% end %>
    <%= yield %>
  </body>
</html>
